/* Applies styling to all elements */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Applies styling to the body of the html */

body {
    background-color: #d9dcd6;
}

/* Applies styling to any element with the .header class */

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Applies styling to the h1 element */

h1 {
    display: inline-block;
    font-size: 48px;
}

/* Applies styling to any element with the .seo class */

.seo {
    color: #d9dcd6;
} 

/* Applies styling to the nav element */

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Applies styling to the ul elements */

ul {
    list-style-type: none;
}

/* Applies styling to the li elements */

li {
    display: inline-block;
    margin-left: 25px;
}

/* Applies styling to the a elements */

a {
    color: #ffffff;
    text-decoration: none;
}

/* Applies styling to any element with the .bannerimg class */

.bannerimg {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Applies styling to any element with the .content class */

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Applies styling to any elements with the following classes:
   .search-engine-optimization, .online-reputation-management, .social-media-marketing  */

.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Applies styling to any elements with the .float-left class */

.float-left {
    float: left;
    margin-right: 25px;
    max-height: 250px;
    max-width: 313px;
}

/* Applies styling to any element with the .float-right class */

.float-right {
    float: right;
    margin-left: 25px;
    max-height: 250px;
    max-width: 313px;
}

/* Applies styling to the h2 elements */

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Applies styling to the p elements */

p {
    font-size: 16px;
}

/* Applies styling to any elements with the .benefits class */

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    margin-bottom: 10px;
}

/* Applies styling to any elements with the following classes:
   .benefit-lead, .benefit-brand, .benefit-cost  */

.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
    text-align: left;
}

/* Applies styling to the h3 elements */

h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Applies styling to any elements with the .img class */

.img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Applies styling to any element with the .footer class */

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    display: none;
}

/* Applies styling to the h4 elements */

h4 {
    font-size: 20px;
}
